body{
  padding-top: 50px;
}
h2{
  font-size: 30px;
  font-weight: bold;
}
p{
  font-size: 16px;
  &.title{
    display: inline-block;
    position: relative;
    padding-bottom: 8px;
    border-bottom: 2px solid #007bff;
    border-width: medium;
  }
}