<template>
  <div>
    <p class="title">SITUATION PER COUNTRY:</p>
    <b-form class="form-search mb-1">
      <b-row>
        <b-col sm="1">
          <label class="form-label pt-2">Country:</label>
        </b-col>
        <b-col sm="9">
          <model-list-select
            :list="listCountry"
            v-model="item"
            option-value="Slug"
            option-text="Country"
            placeholder="select item"
          >
          </model-list-select>
        </b-col>
      </b-row>
      <b-overlay :show="isload" rounded="sm" spinner-variant="primary" center>
        <b-button @click="btnSeach()" class="mt-3">Search</b-button>
      </b-overlay>
    </b-form>
  </div>
</template>

<script>
import { ModelListSelect } from "vue-search-select";
import { mapState } from "vuex";

export default {
  name: "Form",
  components: {
    ModelListSelect,
  },
  props: ["isload"],
  data() {
    return {
      item: {
        Country: "Viet Nam",
        ISO2: "VN",
        Slug: "vietnam",
      },
    };
  },
  computed: {
    ...mapState("info", {
      listCountry: (state) => state.listCountry,
    }),
  },

  methods: {
    getAllCountries() {
      this.$store.dispatch("info/getAllCountries");
    },
    btnSeach() {
      let countryName = this.item.Slug;
      let countryNameShow = this.item.Country;
      this.$emit("countryName", countryName);
      this.$emit("countryNameShow", countryNameShow);
    },
  },
  mounted() {
    this.getAllCountries();
  },
};
</script>

<style lang='scss'>
@import "style.scss";
</style>