<template>
  <div>
    <b-overlay :show="isload" rounded="sm" spinner-variant="primary" center>
      <b-table
        striped
        hover
        id="my-table"
        :fields="fields"
        :items="data"
        :per-page="perPage"
        :current-page="currentPage"
      >
        <template v-slot:cell(No)="row">{{ row.index + 1 }}</template>
        <template #cell(Date)="row">
          {{ moment(String(row.value)).format("YYYY/MM/DD") }}
        </template>
      </b-table>
      <b-pagination
        v-model="currentPage"
        :total-rows="rows"
        :per-page="perPage"
        aria-controls="my-table"
      ></b-pagination>
    </b-overlay>
  </div>
</template>

<script>
import { mapState } from "vuex";
import moment from "moment";

export default {
  name: "Table",

  props: ["fields", "data", "isload", "resetPaging"],
  data() {
    return {
      perPage: 10,
      currentPage: 1,
    };
  },
  computed: {
    ...mapState("info", {
      totalInfection: (state) => state.totalInfection,
    }),
    rows() {
      return this.data.length;
    },
  },

  methods: {
    moment,
    showInfoOfCountry() {
      this.$store.dispatch("info/dataContry", this.dataContry);
    },
  },
  watch: {
    resetPaging() {
      this.currentPage = 1;
    },
  },
};
</script>

<style lang='scss'>
@import "style.scss";
</style>