<template>
  <div>
    <h2>WORLD SITUATION</h2>
    <b-row>
      <b-col sm="4">
        <b-overlay
          :show="isload"
          rounded="sm"
          spinner-variant="primary"
          center
        >
          <b-card title="Total Confirmed" tag="article" class="total-wrap">
            <b-card-text>
              {{ Intl.NumberFormat("de-DE").format(data.TotalConfirmed) }}
              peoples
            </b-card-text>
          </b-card>
        </b-overlay>
      </b-col>
      <b-col sm="4">
        <b-overlay
          :show="isload"
          rounded="sm"
          spinner-variant="primary"
          center
        >
          <b-card title="Total Deaths" tag="article" class="total-wrap">
            <b-card-text>
              {{ Intl.NumberFormat("de-DE").format(data.TotalDeaths) }} peoples
            </b-card-text>
          </b-card>
        </b-overlay>
      </b-col>
      <b-col sm="4">
        <b-overlay
          :show="isload"
          rounded="sm"
          spinner-variant="primary"
          center
        >
          <b-card title="Total Recovered" tag="article" class="total-wrap">
            <b-card-text>
              {{
                Intl.NumberFormat("de-DE").format(data.TotalRecovered)
              }}
              peoples
            </b-card-text>
          </b-card>
        </b-overlay>
      </b-col>
    </b-row>
  </div>
</template>

<script>
export default {
  name: "TotalWorld",
  data() {
    return {
      numberTotal: 0,
    };
  },
  props: ["data", "isload"],

  methods: {},
  mounted() {},
};
</script>

<style lang='scss'>
@import "style.scss";
</style>