<template>
	<div>
		<b-container>
			<TotalWorld :data="totalOfWorld" :isload="isloadTotal" class="mb-5" />
			<Form
				:isload="isloadTable"
				@countryName="countryName"
				@countryNameShow="countryNameShow"
			/>
			<h1 class="mb-3 mt-5">{{ ContryName }} situation</h1>
			<hr />
			<TableComp
				:resetPaging="resetPaging"
				:isload="isloadTable"
				:fields="fields"
				:data="totalInfection"
			/>
		</b-container>
	</div>
</template>

<script>
import Form from "@/components/Form";
import TableComp from "@/components/TableComp";
import TotalWorld from "@/components/TotalWorld";

import { mapState } from "vuex";

export default {
	name: "Home",
	components: {
		Form,
		TableComp,
		TotalWorld,
	},
	data() {
		return {
			dataContry: "vietnam",
			ContryName: "Viet Nam",
			resetPaging: false,
			fields: [
				{ key: "No" },
				{ key: "Date" },
				{ key: "Deaths" },
				{ key: "Lat" },
				{ key: "Lon" },
				{ key: "Province" },
				{ key: "Recovered" },
			],
		};
	},
	computed: {
		...mapState("info", {
			totalInfection: (state) => state.totalInfection,
			totalOfWorld: (state) => state.totalOfWorld,
			isloadTotal: (state) => state.isloadTotal,
			isloadTable: (state) => state.isloadTable,
		}),
	},

	methods: {
		//Show disease information worldwide
		InfoOfTheWorld() {
			this.$store.dispatch("info/getInfoOfTheWorld");
		},
		//Get disease information in selected country
		showInfoOfCountry(val) {
			this.$store.dispatch("info/getTotalInfection", val);
		},
		//Show country name at title
		countryNameShow(val) {
			this.ContryName = val;
		},

		//Get all country name for select box
		countryName(val) {
			this.dataContry = val;
			this.showInfoOfCountry(this.dataContry);
		},
	},

	//Display disease information when the page loads (default Việt Nam)
	mounted() {
		this.showInfoOfCountry(this.dataContry);
		this.InfoOfTheWorld();
	},

	watch: {
		//Reset paging to 1 when searching
		dataContry(oldValue, newvalue) {
			if (newvalue !== oldValue) this.resetPaging = !this.resetPaging;
		},
	},
};
</script>

<style>
</style>